
  <appSettings>
    <add key="SendGridApiKey" value="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" />
    <add key ="MSClientId" value="b5cefafe-9b22-488a-89c4-5e47ec39b00e" />
    <add key ="MSClientSecret" value="SxF[?je0rNS6oEzQd8]U8qwVwyX=b@gl" />
    <add key ="FacebookClientId" value="2724180157604506" />
    <add key ="FacebookClientSecret" value="4b7f78477b7313083a06265e0d0e20bb" />
    <add key ="GoogleClientId" value="871473669581-6asq77n4ih9lbqsmvsd0va9mgqc3utu3.apps.googleusercontent.com" />
    <add key ="GoogleClientSecret" value="eZGtVW7AQEnzBmbI7075D1oh" />
  </appSettings>

