@{
    ViewBag.Title = "About";
}
<h2 class="dark-text">@ViewBag.Title</h2>
<h3 class="dark-text">@ViewBag.Message</h3>

<p class="dark-text">This application is build as study project. Creator is Julijana Ugrinov. 
    Main goal was to learn how MVC and Entity works, and resolve all kind of problems that comes along...</p>
