@{
    ViewBag.Title = "Contact";
}
<h2 class="dark-text">@ViewBag.Title.</h2>
<h3 class="dark-text">@ViewBag.Message</h3>

<address class="dark-text">
    Takovska 35<br />
    23000 Zrenjanin, Serbia<br />
    <abbr>Phone:</abbr>
    +381605703875
</address>

<address class="dark-text">
    <strong>Email:</strong>   <a href="mailto:jugrinov@gmail.com">jugrinov@gmail.com</a><br />
    <strong>Other projects:</strong> <a href="https://julkazr.github.io/" target="_blank">My Portfolio</a>
</address>