@{
    ViewBag.Title = "Contact";
}
<h2 class="dark-text">@ViewBag.Title.</h2>
<h3 class="dark-text">@ViewBag.Message</h3>

<address class="dark-text">
    <strong>Email:</strong>   <a href="mailto:jugrinov@gmail.com">jugrinov@gmail.com</a><br />
    <strong>Other projects:</strong> <a href="https://julkazr.github.io/" target="_blank">My Portfolio</a>
    <strong>My contact is, also, in my portfolio.</strong>
</address>