@using DoctorsOffice.ViewModels
@model AdministrationViewModel
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@using (Html.BeginForm())

